#app {
  text-align: center;
  display: flex;
  justify-content: center;
}
#calculator {
  border: 5px solid black;
  width: 400px;
  height: 400px;
  padding: 20px 20px 30px 20px;
}
#display {
  border: 5px solid cyan;
  height: 50px;
}
#pad {
  border: 5px solid blue;
  display: flex;
  height: 290px;
}
#numbers {
  border: 5px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  
}

#functionality {
  border: 5px solid purple;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 25%;
}
